html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.custom-dropdown {
    right: 0; 
    border-radius: 0; 
}

.dropdown-header {
    text-align: center; 
}
